// Placeholder to allow overriding predefined variables smoothly.
$brand-color:           #808e9b;
$brand-color-light:     lighten($brand-color, 5%) !default;
$brand-color-dark:      darken($brand-color, 35%) !default;

$site-title-color:      #d4d8dd;

$text-color:            #d2dae2;
$background-color:      #191a1a;
$code-background-color: #485460;

$link-base-color:       #848beb;
$link-visited-color:    #595ed4;
$link-hover-color:      $text-color;

// $border-color-01: $dm-border-color-01;
// $border-color-02: $dm-border-color-02;
// $border-color-03: $dm-border-color-03;
$border-color-01:       $brand-color-light;
$border-color-02:       $brand-color-dark;
$border-color-03:       $brand-color;

$table-text-color: $dm-table-text-color;
$table-zebra-color: $dm-table-zebra-color;
$table-header-bg-color: $dm-table-header-bg-color;
$table-header-border: $dm-table-header-border;
$table-border-color: $dm-table-border-color;